<template>
    <!-- Related Record Selector -->
    <template if:true={objectNames}>
        <lightning-layout>
            <lightning-layout-item size="3" padding="horizontal-small">
                <lightning-combobox
                    name="objectName"
                    label="Select Object"
                    placeholder="Select an object"
                    value={selectedObjectValue}
                    options={objectOptions}
                    onchange={handleSelectionChange}>
                </lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="5">
                <lightning-combobox
                    name="recordId"
                    label="Select Record"
                    placeholder="Select a record"
                    value={selectedRecordValue}
                    options={recordOptions}
                    onchange={handleSelectionChange}>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>
    </template>
    
    <!-- Original Record Display -->
    <template if:true={showReadOnlyMode}>
        <lightning-layout>
            <lightning-layout-item size="3" padding="horizontal-small">
                <lightning-combobox
                    name="objectName"
                    label="Select Object"
                    placeholder="Select an object"
                    options={readOnlyObjectOptions}
                    value={readOnlyObjectValue}
                    read-only>
                </lightning-combobox>
            </lightning-layout-item>
            <lightning-layout-item size="5">
                <lightning-combobox
                    name="recordId"
                    label="Select Record"
                    placeholder="Select a record"
                    value={readOnlyNameValue}
                    options={readOnlyRecordOptions}
                    read-only>
                </lightning-combobox>
            </lightning-layout-item>
        </lightning-layout>
    </template>

</template>