<template>
    <div class="uploadCanvas">
        <template if:true={showChildSelector}>
            <c-record-selector
                record-id={recordId}
                object-names={passedChildObjects}
                is-child-selector="true"
                dropdown-alignment="auto"
                onrecordchange={handleRecordSelect}>
            </c-record-selector>
        </template>
        <template if:true={showParentSelector}>
            <c-record-selector
                record-id={recordId}
                object-names={passedParentObjects}
                is-child-selector="false"
                dropdown-alignment="auto"
                onrecordchange={handleRecordSelect}>
            </c-record-selector>
        </template>
        <template if:true={showReadOnlySelector}>
            <c-record-selector
                record-id={recordId}
                is-child-selector="true"
                dropdown-alignment="auto"
                record-obj-name={recordObjName}
                onrecordchange={handleRecordSelect}>
            </c-record-selector>
        </template>
    
        <template if:true={selectedRecord}>
            <div class="slds-m-top_large">
                <lightning-file-upload
                    label="Upload Files"
                    name="fileUploader"
                    record-id={selectedRecord}
                    record-obj-name={recordObjName}
                    dropdown-alignment="auto"
                    onuploadfinished={handleUploadFinished}
                    multiple>
                </lightning-file-upload>
            </div>
    
        </template>
    
        <template if:true={uploadedFiles}>
            <div class="slds-text-color_success slds-m-top_large">
                The below files have been uploaded!
            </div>
            <ul class="slds-list_dotted">
                <template for:each={uploadedFiles} for:item="eachFile">
                    <li key={eachFile.documentId}>{eachFile.name}</li>
                </template>
            </ul>
    
        </template>
    </div>


</template>